@import 'Variables';
.header{
  margin-bottom: 10px;
  border-bottom: 4px solid color(header-border);
}
.header-item{
  position: relative;
  font-family: $font, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  color: color(text);
  margin: 10px 10px;
  z-index: 3;
  &:hover{
    color: color(text-hovered);
  }
  .dropdown-menu p{
    display: inline;
  }
  .dropdown-menu .dropdown-menu-icon{
    float: right;
    margin-left: 0px;
    background: none;
    border: none;
    &:focus{
      outline: none;
    }
    &:hover{
      cursor: pointer;
    }

    svg{
      position: relative;
      z-index: 3;
      fill: #FA9C1D;
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transition: transform .2s ease-in-out;
      -webkit-transition: transform .2s ease-in-out;
      transform-origin: 41% 41%;
    }
  }

  .dropdown-menu .dropdown-menu-icon.show{
    svg{
      transform: rotate(180deg);
    }
  }
}

.menu-list{
  position: absolute;
  background-color: #58C9B9;
  top: 0;
  right: 0;
  width: 200px;
  height: 100px;
}

.show-menu{
  animation-name: polygonIn;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  ul{
    margin: 40px 20px;
    li{
      list-style-type: none;
      text-align: right;
      font-family: $font, sans-serif;
      font-weight: bold;
      &:hover{
        cursor: pointer;
        color: color(text-hovered);
      }
   }
  }
}

.hide-menu{
  display: none;
}

@keyframes polygonIn{
  0% {
    clip-path: polygon(0% 0%, 0 0, 0% 0%, 0% 0%, 0% 0%);
  }

  100%{
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
  }
}
