@import 'Variables';

body{
  font-family: $font, sans-serif;
  font-weight: bold;
  color: color(text);
  background-color: color(background);
}

.list-container{
  margin-bottom: 20px;
}
.content{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr auto;
  grid-auto-rows: minmax(10px, auto);
  &:hover{
    border-left: 4px solid color(text-hovered);
  }

  @include large{
    grid-template-columns: 1fr 1fr 1fr auto;
  }

  @include medium{
    grid-template-columns: 1fr 1fr 1fr auto;
  }

  @include small{
    grid-template-columns: 0.3fr 1.2fr 0.3fr auto;
  }

  .item{
    text-align: center;
  }

  .matchSchedule{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;

    .matchDate{
      text-align: right;
      line-height: 40px;
    }

    .matchTime{
      text-align: center;
      background-color: rgba(133, 147, 140, 0.3);;
      width: 40%;
      border-radius: 3px;
      line-height: 20px;
      height: 20px;
      margin-top: 10px;

      @include large{
        width: 60%;
      }

      @include medium{
        width: 70%;
      }
    }
  }

  .teamAContainer, .teamBContainer{
    display: grid;
    grid-template-columns: 0.3fr 1fr;

    @include small{
      display: block;
    }

    .teamALogo{
      order: -1;
    }

    img{
      width:60%;
      height: auto;

      @include small{
        padding-top: 20%;
      }
    }

    .teamName{
      font-weight: bolder;
      text-align: left;

      @include small{
        display: none;
      }
    }

    .teamName p{
      line-height: 40px;
    }
  }
  .teamBContainer{
    grid-template-columns: 1fr 0.3fr;

    .teamName{
      font-weight: bolder;
      text-align: right;
    }
  }

  .button{
    color: color(button);
    line-height: 40px;
    &:hover{
      color: color(button-hovered);
    }
  }

  .button.disabled{
    color: color(button-disabled);
  }
}

table {
  border-collapse: collapse;

  td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
}

.dropdown-header{
  text-align: right;
  span{
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    left: 3px;
    &:hover{
      cursor: pointer;
    }
  }

  span.delta-up{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #C0C0C0;
    bottom: 2px;
    &:hover{
      border-bottom: 7px solid color(text-hovered);
    }
  }

  span.delta-down{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #C0C0C0;
    &:hover{
      border-top: 7px solid color(text-hovered);
    }
  }
}

.shouldDisplay{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px 10px;

  .final-score-container{
    text-align: center;
    p{
      font-size: 18px;
      font-weight: 100;

      span{
        padding: 5px 5px;
      }
    }
  }
}

.shouldHide{
  display: none;
}

.login-button{
  height: 50px;
  width: 600px;
  font-size: 25px;
  margin: auto;
  text-align: center;
  margin-top: 30px;

  span a{
    color: color(text-prompt);
    &:hover{
      color: color(text-hovered);
    }
  }
}
