@import 'Variables';


.table-container{
  border-top: 3px solid color(header-border);
  border-radius: 0px 0px 6px 6px;
  background-color: #FFF;

  &:hover{
    transform: scale(1.01);
    box-shadow: 2px 4px 4px #E0E3DA;
  }
}
.score-table{
  margin: 0px auto;
  margin-bottom: 10px;
  width: 90%;

  tr:last-child{
    border-bottom: 0px;
  }

  th{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    border-top: 0px;

    &:nth-child(1){
      border-left: 0px;
    }
    &:last-child{
      border-right: 0px;
    }
  }

  td{
    font-size: 11px;
    border-bottom: 0px;

    &:nth-child(1){
      border-left: 0px;
    }
    &:last-child{
      border-right: 0px;
    }
  }
}
