.rules-container{
  margin: 20px auto;
  text-align: left;
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-column-gap: 5em;

  ul{
    list-style: none;
    padding: 0;

    li{
      margin-top: 20px;
      letter-spacing: 1px;
      color: #8b8687;
      &:before{
        content: '>> ';
        font-family: cursive;
        font-weight: bold;
        color: #DE6449;
      }
    }
  }

  img{
    width: 20em;
    top: 30%;
  }
}
