# dependencies
/node_modules/
/frontend/node_modules/
/server/node_modules/
jspm_packages/
/frontend/.pnp
/frontend/.pnp.js
.DS_Store

# testing
/frontend/coverage

# production
/frontend/build
/server/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/server/.env
.DS_Store

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
