.content{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 0.5fr;
  grid-auto-rows: minmax(10px, auto);

  .teamAContainer, .teamBContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .teamALogo{
      order: -1;
    }

    img{
      width:30%;
      height: auto;
    }
  }

  .item{
    text-align: center;
  }

  .button{
    color: #FF7F11;
  }
}

.resultsContainer{
  display: grid;
  grid-template-columns: 0.3fr 2fr 0.5fr;
  width: 100%;
  height: auto;
  color: #EE423D;

  .resultsTeamB, .resultsTeamA{
    text-align: right;
  }
}
