.content{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 0.5fr;
  grid-auto-rows: minmax(10px, auto);

  .teamAContainer, .teamBContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .teamALogo{
      order: -1;
    }

    img{
      width:50%;
      height: auto;
    }
  }

  .item{
    text-align: center;
  }
}
